@using MudBlazor


<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Href="/weathermap" Match="NavLinkMatch.Prefix">
        <span class="oi oi-map" aria-hidden="true"></span> Weather Map
    </MudNavLink>

</MudNavMenu>

